name: Publish Package

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version in semantic versioning format (i.e. 1.0.2)'
        required: true
jobs:
  package_publishing:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    env:
      ACTIONS_STEP_DEBUG: true
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'

      - name: Authenticate to GitHub Packages
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc

      - name: Check package version
        id: version
        run: |
          RELEASE_VERSION=$(npm pkg get version | tr -d '"')
          if [ "${RELEASE_VERSION}" != "${{ github.event.inputs.version }}" ]; then
            echo "Provided version does not match package version."
            echo "package.json version: ${RELEASE_VERSION}, input version: ${{ github.event.inputs.version }}"
            exit 1
          else
            echo "Package version is correct: ${RELEASE_VERSION}"
          fi
          echo "release_version=$RELEASE_VERSION" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: npm install

      - run: npm ci

      - name: Create dist folder
        run: npm run build

      - name: Publishing packages
        run: npm publish --@salemove:registry=https://npm.pkg.github.com/
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Git tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag ${{ steps.version.outputs.release_version }} -m "v ${{ steps.version.outputs.release_version }}"
          git push origin ${{ steps.version.outputs.release_version }}
