name: Update Glia iOS Widgets SDK Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version in semantic versioning format (i.e. 1.0.2)'
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: macos-latest
    env:
      LEFTHOOK: 0 # Disable Lefthook during CI runs
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true
          working-directory: example-app

      - name: Update Glia iOS Widgets SDK version
        run: sed -i '' "s/s.dependency 'GliaWidgets', '.*'/s.dependency 'GliaWidgets', '${{ github.event.inputs.version }}'/" GliaWidgetsIonic.podspec

      - name: Install dependencies
        run: |-
          npm install
          cd example-app
          npm install

      - name: Update iOS pods
        run: |
          cd example-app
          bundle install
          cd ios/App
          bundle exec pod update GliaWidgets

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: "Update iOS Widgets SDK version to ${{ github.event.inputs.version }}"
          body: "This PR sets the iOS Widgets SDK version to ${{ github.event.inputs.version }}."
          base: development
          branch: update-ios-widgets-sdk-version-${{ github.event.inputs.version }}
          commit-message: "chore: update iOS Widgets SDK version to ${{ github.event.inputs.version }}"
